aside {
   padding: 0 0 $site-default-rem * 2;
   /*
   h2 {
      &:after {
         height: $site-default-rem * 4;
         width: 100%;
         background: url("http://svgur.com/i/4EN.svg") no-repeat;
         content: " ";
         display: block;
         margin-top: $site-default-rem;
      }
   }
   */
}
