.button {
   position: relative;
   font-family: 'nunito_bold';
   border-radius: $site-default-radius;
   text-align: left;
   background: $site-orange;
   margin-right: $site-default-rem;
   padding: $site-default-rem * 2;

   &:hover {
      background: darken($site-orange, 20%);

      &:after {
         padding-right: $site-default-radius;
         margin-left: $site-default-radius;
      }
   }

   &:after {
      font-family: FA5S;
      content: "\f054";
      display: inline-block;
      vertical-align: middle;
      padding-right: $site-default-radius + $site-default-radius;
      padding-left: $site-default-rem + $site-default-radius;
      float: right;
   }

   &.search {
      &::after {
         content: "\f002";
      }
   }

   &.no-arrow {
      &:after {
         content: "";
      }
   }

   &.left-arrow {
      text-align: right;

      &:after {
         padding-left: 0;
         content: "\f053";
         padding-right: 1rem;
         float: left;
      }
   }

   &.block {
      display: block;
      width: 100%;
   }

   &.gray {
      background-color: $site-gray-dark;
   }

   &.purple {
      background-color: $site-purple;

      &:hover {
         background: darken($site-purple, 5%);

         &:after {
            padding: $site-default-rem * 2;
         }
      }

      &::after {
         padding: $site-default-rem * 2 $site-default-rem;
         margin: -$site-default-rem * 2;
         margin-left: $site-default-rem * 2;

         border-radius: 0 $site-default-radius $site-default-radius 0;
         background-color: rgba(#FFF, 0.2);
      }
   }

   &.success {
      color: #FFF;

      &:active,
      &:focus,
      &:hover,
      &:visited {
         color: #FFF;
      }
   }

   &.white {
      color: $site-default-font-color;
      background-color: #FFF;

      &:active,
      &:focus,
      &:hover,
      &:visited {
         color: $site-default-font-color;
      }

      &::after {
         color: $site-purple;
      }
   }

   &.dotted {
      color: $site-default-font-color;
      background-color: transparent;
      border: 2px dashed #90d3ef;
      color: #90d3ef;

      &:active,
      &:focus,
      &:hover,
      &:visited {
         color: #90d3ef;
      }

      &::after {
         color: #90d3ef;
      }
   }

   &.empty {
      &,
      &:active,
      &:focus,
      &:visited {
         color: $site-blue;
         background-color: #FFF;
         border: 1px solid $site-blue;
      }

      &:hover {
         color: #FFF;
         background-color: $site-blue;
      }

      &.white {
         border: 1px solid #FFF;
         background-color: transparent;
         color: #FFF;

         &:after {
            color: #FFF;
         }
      }
   }
}
